* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: lightgrey;
	padding: 0 8px;
}

main {
	padding: 0 8px;
}

nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

nav li {
	list-style: none;
}

form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 300px;
}

textarea,
input {
	width: 100%;
}

p.human-1 {
	color: darkgreen;
}

.flash-message {
	color: blue;
}

.flash-error {
	color: red;
}

fieldset div {
	display: grid;
	grid-template-columns: 2fr 4fr;
}
