{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Tethered List{% endblock %}</h1>
{% endblock %}

{% block main %}
{% if master_lists|length == 0 %}
<p>No Master Lists</p>
{% else %}
{% for master_list in master_lists %}
<article>
    <h3>{{ master_list['name'] }}</h3>
    <p>{{ master_list['description'] }}</p>
    <p><b>Created on </b>{{ master_list['created'].strftime('%d.%m.%Y') }} <b>by</b> {{ master_list["username"] }} | <a href="{{ url_for('master_lists.view', master_list_id=master_list['id']) }}">View</a></p>
    <form method="post">
        <input type="hidden" name="master_list_id" value="{{ master_list["id"] }}">
        <input type="submit" value="Choose">
	</form>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}
