{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}List: {{ alist['name'] }}{% endblock %}</h1>
<p>{{ alist['description'] }} <a href="{{ url_for('lists.edit', list_id=alist['id']) }}">Edit</a></p>
{% endblock %}
{% block main %}
<section id="items">
	<h2>Items</h2>
{% if items|length == 0 %}
	<p>Empty</p>
	<a href="{{ url_for('lists.new_item', list_id=alist['id']) }}">New Item</a>
</section>
{% else %}
	<a href="{{ url_for('lists.new_item', list_id=alist['id']) }}">New Item</a>
	<table class="item-table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			{% for detail in details %}
			<th>{{ detail['name'] }}</th>
			{% endfor %}
			<th>Created</th>
		</tr>
		{% for item in items %}
		<tr>
			<td>{{ item['id'] }}</td>
			{% if item['name']|length > 30 %}
			<td>{{ item['name']|truncate(30,false,'...') }}</td>
			{% else %}
			<td>{{ item['name'] }}</td>
			{% endif %}
			{% for detail in item['details'] %}
			{% if detail['content']|length > 30 %}
			<td>{{ detail['content']|truncate(30,false,'...') }}</td>
			{% else %}
			<td>{{ detail['content'] }}</td>
			{% endif %}
			{% endfor %}
			<td>{{ item['created'].strftime('%d.%m.%Y') }}</td>
			<td><a href="{{ url_for('lists.view_item', list_id=alist['id'], item_id=item['id']) }}">View</a></td>
			<td><a href="{{ url_for('lists.edit_item', list_id=alist['id'], item_id=item['id']) }}">Edit</a></td>
		</tr>
		{% endfor %}
	</table>
</section>
{% endif %}
<section id="details">
	<h2>Details</h2>
{% if details|length == 0 %}
	<p>Empty</p>
	<a href="{{ url_for('lists.new_detail', list_id=alist['id']) }}">New Detail</a>
</section>
{% else %}
	<a href="{{ url_for('lists.new_detail', list_id=alist['id']) }}">New Detail</a>
	<dl>
		{% for detail in details %}
		<dt><b>{{ detail['name'] }}</b> <a href="{{ url_for('lists.edit_detail', list_id=alist['id'], detail_id=detail['id']) }}">Edit</a></dt>
		<dd>{{ detail['description'] }}</dd>
		{% endfor %}
	</dl>
</section>
{% endif %}
{% endblock %}
