{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Master Item: {{ master_item['name'] }}{% endblock %}</h1>
<ul>
	<li><b>Master List Name</b>: {{ master_list['name'] }}</li>
	<li><b>Master List Description</b>: {{ master_list['description'] }}</li>
</ul>
{% endblock %}
	
{% block main %}
<form method="post">
	<label for="name">Name
		<input id="name" name="name" value="{{ request.form['name'] or master_item['name'] }}" required> <!-- When the form hasn't been submitted, the original `agent` data appears, but if invalid form data was posted it will be displayed so that the user can fix the error. -->
	</label>
	{% for master_detail in master_list["master_details"] %}
	<label for="{{ master_detail['id'] }}">{{ master_detail['name'] }}
		<textarea id="{{ master_detail['id'] }}" name="{{ master_detail['id'] }}">{{ request.form[master_detail['id']] or master_item['master_contents'][loop.index0] }}</textarea>
	</label>
	{% endfor %}
	<input type="submit" value="Save">
</form>
<hr>
<form method="post" action="{{ url_for('master_lists.delete_master_item', master_list_id=master_list['id'], master_item_id=master_item['id']) }}">
	<input type="submit" value="Delete">
</form>
{% endblock %}

