{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Master Agent{% endblock %}</h1>
{% endblock %}

{% block main %}
<form method="post">
	<label for="name">Name
		<input name="name" id="name" value="{{ request.form['name'] }}" required>
	</label>
	<label for="description">Description
		<textarea name="description" id="description" required>{{ request.form['description'] }}</textarea>
	</label>
	<label for="model">Model
		<select name="model_id" id="model" required autofocus>
			{% for agent_model in agent_models %}
			<option value="{{ agent_model["id"] }}">{{ agent_model["model_name"] }}</option>
			{% endfor %}
		</select>
	</label>
	<label for="role">Role
		<input name="role" id="role" value="{{ request.form['role'] }}" required>
	</label>
	<label for="instructions">Instructions
		<textarea name="instructions" id="instructions" required>{{ request.form['instructions'] }}</textarea>
	</label>
	<input type="submit" value="Save">
</form>
{% if request.form["model_id"] %}
<script>
	const opts = document.querySelectorAll('#model option');
	opts.forEach((opt) => {
		if (opt.value == {{ request.form['model_id'] }}) opt.selected = true;
	});
</script>
{% endif %}
{% endblock %}
