{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Master Agent: {{ master_agent['name'] }}{% endblock %}</h1>
<p>{{ master_agent['description'] }} <a href="{{ url_for('master_agents.edit', master_agent_id=master_agent['id']) }}">Edit</a></p>
<p><b>Created:</b> {{ master_agent['created'].strftime('%d.%m.%Y') }}</p>
{% endblock %}
{% block main %}
	<h2>Attributes</h2>
	<ul>
		<li><b>Creator: </b>{{ master_agent['username'] }}</li>
		<li><b>Name: </b>{{ master_agent['name'] }}</li>
		<li><b>Model: </b>{{ master_agent['model_name'] }}</li>
		<li><b>Provider: </b>{{ master_agent["provider_name"] }}</li>
		<li><b>Role: </b>{{ master_agent['role'] }}</li>
		<li><b>Instructions: </b>{{ master_agent["instructions"] }}</li>
	</ul>
{% endblock %}
