{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Detail: {{ detail['name'] }}{% endblock %}</h1>
<ul>
	<li><b>List Name</b>: {{ alist['name'] }}</li>
	<li><b>List Description</b>: {{ alist['description'] }} </li>
</ul>
{% endblock %}
	
{% block main %}
<form method="post">
	<label for="name">Name
		<input id="name" name="name" value="{{ request.form['name'] or detail['name'] }}" autofocus required>
	</label>
	<label for="description">Description
		<textarea id="description" name="description">{{ request.form['name'] or detail['description'] }}</textarea>
	</label>
	<input type="submit" value="Save">
</form>
<hr>
<form method="post" action="{{ url_for('lists.delete_detail', list_id=alist['id'], detail_id=detail['id']) }}">
	<input type="submit" value="Delete">
</form>
{% endblock %}
