<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %} - InContext</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("static", filename="favicon/apple-touch-icon.png") }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename="favicon/favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("static", filename="favicon/favicon-16x16.png") }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Flask automatically adds a static view that takes a path relative to the `incontext/static` directory and serves it. -->
	</head>
	<body>
		<header>
			<nav>
				<span class="brand"><a href="{{ url_for('home.index') }}">InContext</a></span>
				{% if g.user %}
				<ul>
                    {% if g.user["admin"] %}
					<li><span><a href="{{ url_for('master_lists.index') }}">Master Lists</a></li>
					<li><span><a href="{{ url_for('master_agents.index') }}">Master Agents</a></li>
                    {% endif %}
					<li><span><a href="{{ url_for('lists.index') }}">Lists</a></li>
					<li><span><a href="{{ url_for('agents.index') }}">Agents</a></li>
				</ul>
				{% endif %}
				<ul>
					{% if g.user %} <!-- g.user is being set by `load_logged_in_user`. -->
						<li><span>{{ g.user['username'] }}</span></li>
						<li><span><a href="{{ url_for('auth.logout') }}">Log Out</a></li> <!-- url_for is automatically available and is used to generate URLs to views instead of writing them out manually. -->
					{% else %}
						{% if request.path == url_for('auth.login') %}
							<li><a href="{{ url_for('auth.register') }}">Register</a></li>
						{% elif request.path == url_for('auth.register') %}
							<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
						{% else %}
							<li><a href="{{ url_for('auth.register') }}">Register</a></li>
							<li><a href="{{ url_for('auth.login') }}">Log In</a></li>
						{% endif %}
					{% endif %}
				</ul>
			</nav>
		</header>
		<main>
			<header>
				{% block header %}{% endblock %}
			</header>
			{% for category, message in get_flashed_messages(with_categories=True) %} <!-- shows any error messages -->
			<p class="flash-{{ category }}">{{ message }}</p>
			{% endfor %}
			{% block main %}{% endblock %}
		</main>
	</body>
</html>
