{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Master Lists{% endblock %}</h1>
{% endblock %}
{% block main %}
{% if master_lists|length == 0 %}
<p>Empty</p>
{% endif %}
<p><a href="{{ url_for('master_lists.new') }}">New Master List</a></p>
{% for master_list in master_lists %}
<article>
	<h3>{{ master_list['name'] }}</h3>
	<p>{{ master_list['description'] }}</p>
    <p><b>Created on </b>{{ master_list['created'].strftime('%d.%m.%Y') }} <b>by</b> {{ master_list["username"] }} | <a href="{{ url_for('master_lists.view', master_list_id=master_list['id']) }}">View</a> | <a href="{{ url_for('master_lists.edit', master_list_id=master_list['id']) }}">Edit</a></p>
	{% if not loop.last %}
	<hr>
	{% endif %}
</article>
{% endfor %}
{% endblock %}
