{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Master List: {{ master_list['name'] }}{% endblock %}</h1>
<p>{{ master_list['description'] }} <a href="{{ url_for('master_lists.edit', master_list_id=master_list['id']) }}">Edit</a></p>
<p><b>Created on</b> {{ master_list['created'].strftime('%d.%m.%Y') }} <b>by</b> {{ master_list["username"] }}</p>
{% endblock %}
{% block main %}
<section id="items">
	<h2>Master Items</h2>
{% if master_list['master_items']|length == 0 %}
	<p>Empty</p>
	<a href="{{ url_for('master_lists.new_master_item', master_list_id=master_list['id']) }}">New Item</a>
{% else %}
	<a href="{{ url_for('master_lists.new_master_item', master_list_id=master_list['id']) }}">New Item</a>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			{% for master_detail in master_list["master_details"] %}
			<th>{{ master_detail['name'] }}</th>
			{% endfor %}
			<th>Created</th>
		</tr>
		{% for master_item in master_list["master_items"] %}
		<tr>
			<td>{{ master_item['id'] }}</td>
			{% if master_item['name']|length > 30 %}
			<td>{{ master_item['name']|truncate(30,false,'...') }}</td>
			{% else %}
			<td>{{ master_item['name'] }}</td>
			{% endif %}
			{% for master_content in master_item['master_contents'] %}
			{% if master_content|length > 30 %}
			<td>{{ master_content|truncate(30,false,'...') }}</td>
			{% else %}
			<td>{{ master_content }}</td>
			{% endif %}
			{% endfor %}
			<td>{{ master_item['created'].strftime('%d.%m.%Y') }}</td>
			<td><a href="{{ url_for('master_lists.view_master_item', master_list_id=master_list['id'], master_item_id=master_item['id']) }}">View</a></td>
			<td><a href="{{ url_for('master_lists.edit_master_item', master_list_id=master_list['id'], master_item_id=master_item['id']) }}">Edit</a></td>
		</tr>
		{% endfor %}
	</table>
{% endif %}
</section>
<section>
	<h2>Master Details</h2>
{% if master_list["master_details"]|length == 0 %}
	<p>Empty</p>
	<a href="{{ url_for('master_lists.new_master_detail', master_list_id=master_list['id']) }}">New Detail</a>
{% else %}
	<a href="{{ url_for('master_lists.new_master_detail', master_list_id=master_list['id']) }}">New Detail</a>
	<dl>
		{% for master_detail in master_list["master_details"] %}
		<dt><b>{{ master_detail['name'] }}</b> <a href="{{ url_for('master_lists.edit_master_detail', master_list_id=master_list['id'], master_detail_id=master_detail['id']) }}">Edit</a></dt>
		<dd>{{ master_detail['description'] }}</dd>
		{% endfor %}
	</dl>
{% endif %}
</section>
{% endblock %}
